<app-header></app-header>
<h1 style="text-align: center;"> About Us</h1>

<p>CONPRG is more than just a cleaning company;
     we are partners in creating pristine environments that elevate well-being.
      We offer comprehensive deep cleaning services with a commitment to excellence, 
      personalized to meet individual needs. Our team of highly trained professionals 
      ensures meticulous attention to detail and customer satisfaction. We prioritize eco-friendly
      practices and have a reputation for reliability along with our passion for Customer experience. 
      CONPRG aims to enhance environments and enrich lives, offering customized cleaning plans to
       meet your needs and exceed your expectations.</p>
<app-footer></app-footer>