<app-header></app-header>
<div class="container">
  <form [formGroup]="appointmentForm" class="appointment-form" (ngSubmit)="onSubmit()">
    <table class="service-details">
      <thead>
        <tr>
          <th>Service / Addon Details</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of selectedServices;let i = index">
          <td>{{ service.name }}</td>
          <td>{{ service.quantity }}</td>
          <td>{{ service.price }}</td>
          <td>{{ service.price * service.quantity }} </td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16" (click)="delete(i)">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg></td>
        </tr>
      </tbody>
    </table>
     
    <div class="form-row">
      <div class="form-group">
        <label for="address1">Address Line 1</label>
        <input formControlName="address1" id="address1" placeholder="Address Line 1">
      </div>
      <div class="form-group">
        <label for="address2">Address Line 2</label>
        <input formControlName="address2" id="address2" placeholder="Address Line 2">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input formControlName="city" id="city" placeholder="City">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group">
        <label for="state">State</label>
        <input formControlName="state" id="state" placeholder="State">
      </div>
      <div class="form-group">
        <label for="pincode">Pincode</label>
        <input formControlName="pincode" id="pincode" placeholder="Pincode">
      </div>
    </div>
    

    <div class="form-row">
      <div class="form-group">
        <label for="appointmentDate">Appointment Date</label>
        <input type="date" formControlName="appointmentDate" id="appointmentDate">
      </div>
      <div class="form-group">
        <label for="appointmentTime">Appointment Time</label>
        <select formControlName="appointmentTime" id="appointmentTime">
          <option *ngFor="let time of timeSlots" [value]="time">{{ time }}</option>
        </select>
      </div>
    </div>
    <button (click)="payNow()">Pay amount</button>
    <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
    <div class="form-row">
      <button type="submit" [disabled]="!appointmentForm.valid">Book Appointment</button>
    </div>
  </form>
</div>
<app-footer></app-footer>